{{!-- <script id="template" type="text/x-handlebars-template">
  <body> 
    <h1>Test</h1>
    <ul class="dropdown menu" data-dropdown-menu>
        {{#each categories}}
        <li>
          <a href="#">{{name}}</a>
          <ul class="menu">
            {{#each subcategories}}
            <li><a href="#">{{name}}</a></li>
            {{/each}}
          </ul>
        </li>
        {{/each}}
        <li><a href="#" class="nav">Profile</a></li>
        <li><a href="#" class="nav">Logout</a></li>
    </ul> 
  </body>
</script> --}}
<body> 
   {{!-- <ul class="dropdown menu" data-dropdown-menu>
         <li>
          <a href="#">Categories</a>
          <ul class="menu">
            <li><a href="#">Coffee Shops</a></li>
            <li><a href="#">Parks</a></li>
            <li><a href="#">Restaurants</a></li>
          </ul>
        </li> 
        <li><a href="#" class="nav">Profile</a></li>
        <li><a href="#" class="nav">Logout</a></li>
      </ul> --}}
<form id="postForm">
        <div class="row">
            <div class="medium-6 medium-push-3 columns">
                <textarea id="newPost" placeholder="Your New Post Here"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="medium-6 medium-push-3 columns">
                <button class="button" id="button">New Recommendations</button>
            </div>
        </div>
    </form>


    <script src="profile.js"></script>
    <script src="js/vendor/jquery.js"></script>
    <script src="js/vendor/what-input.js"></script>
    <script src="js/vendor/foundation.min.js"></script>
    <script>
        $(document).foundation();
    </script>
</body>