<script id="template" type="text/x-handlebars-template">
  <body> 
    <ul class="dropdown menu" data-dropdown-menu>
        {{#each categories}}
        <li>
          <a href="#">{{name}}</a>
          <ul class="menu">
            {{#each subcategories}}
            <li><a href="#">{{name}}</a></li>
            {{/each}}
          </ul>
        </li>
        {{/each}}
        <li><a href="#" class="nav">Profile</a></li>
        <li><a href="#" class="nav">Logout</a></li>
    </ul> 
    <form>
        <div class="row">
            <div class="medium-6 medium-push-3 columns">
                <textarea placeholder="Your New Post Here"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="medium-6 medium-push-3 columns">
                <button class="button">New Recommendations</button>
            </div>
        </div>
    </form>
  </body>
</script>
