body{
  background-color: black;
}
h1 {
  font-size: 35px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
nav {
  background-color: #333;
  color: white;
  height: 50px;
  padding: 0 20px;
  position: relative;
}

.menu.align-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu.align-right li {
  margin-right: 20px;
}

.menu.align-right li a {
  color:  rgb(134, 90, 210);
  font-size: 20px;
  text-decoration: none;
  padding: 15px;
}
.menu.align-right li a:hover {
  color: #10608e;
  text-decoration: border;
}


footer {
  position: relative;
  bottom: 0;
  width: 100%;
  color: #fff;
  text-align: center;
  padding: 0.3em;
}

footer p, footer a {
  color: #fff;
}


body {
  color:aliceblue;
  background-color: black;
}

.container {
  width: 50%;
  margin: 0 auto;
  text-align: center;

}
/*style for form elemets*/
form {
  display: inline-block;
  text-align: left;
}
/*some styles for the label text*/
label {
  font-weight: bold;
  color: white;
}
/*signup and signin text link color*/
.signup-text, .signin-text{
  color: rgb(134, 90, 210);
}
/*orange hubl logo*/
.logo{
  width: 550px;
  height: 350px;
  /*style for email and password fields*/
}
input[type="email"],
input[type="password"],
input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
/*styling for submit button*/
input[type="submit"] {
  width: 100%;
  background-color: #7f3cc1;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none; /*removing the border for the button*/
  border-radius: 4px;
  cursor: pointer;
}
/*background color change of the submit button when hovered over it*/
input[type="submit"]:hover {
  background-color: #10608e;
}

#logout {
  color: gray;
  margin-left: 20px;
  margin-right: 25px;
}

#postForm {
  margin-top: 100px;
}